body {
 <style>
  font-family: system-ui;
  background: purple;
  color: white;
  text-align: center;
    text-decoration-line: underline;
  img:hover {
    border: red dotted 15px;
      border-radius: 50%;
    </style>
}
